body{
    font-family: 'Comfortaa', sans-serif;
    background-color: black;
    color: aliceblue;

}
.logIn{
    display: flexbox;
    text-align: center;

}
input{
    background-color: rgb(0, 3, 29);
    border: 1px solid rgb(0, 132, 255);
    display: block;
    color: aliceblue;
    border-radius: 20px;
    width: 30%;
    height: 20px;
}
input{
    display:block;
    margin:0 auto;
    background-color: rgb(0, 3, 29);
    border: 1px solid rgb(0, 132, 255);
    display: block;
    color: aliceblue;
    border-radius: 20px;
    width: 30%;
    height: 20px;
}
.name,.password,.mail,.date{
    
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
}
.loginButt{

    font-family: 'Comfortaa', sans-serif;
    border: 1px solid rgb(114, 0, 53);
    background-color: rgb(26, 0, 27);
    /* margin-left: 10%; */
    border-radius: 20px;
    padding: 10px;
    color: rgb(254, 240, 255);
    width: 15%;
}
.logButt{   
    font-family: 'Comfortaa', sans-serif;
    border: 1px solid rgb(114, 0, 53);
    background-color: rgb(26, 0, 27);
    /* margin-left: 10%; */
    border-radius: 20px;
    padding: 10px;
    color: rgb(254, 240, 255);
    width: 25%;
}
h1{
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: #d52dff;
    margin-bottom: 20px;
    display:block;
}